<div class="container">
    <header>
        <h1>Trello</h1>
    </header>
    <div class="content">
        <div class="list-wrapper" id="list1" draggable="true">
            <div class="list-inner">
                <div class="list-header">
                리스트1
                </div>
                <div class="list-body">
                    <ul class="list-cards">
                        <li class="card">
                            <span id="card000" class="card-inner">카드 타이틀1-1</span>
                        </li>
                    </ul>
                    <div class="add-card">
                        <form action="">
                            <a class="open-add-card" href="#">
                                <span>+ Add another card</span>
                            </a>
                            <input class="card-name-input" type="text" name="name" placeholder="Enter card title" autocomplete="off" maxlength="512">
                            <div class="card-add-controls">
                                <input class="card-add-button" type="submit" value="Add card">
                                <a class="card-cancel-button" href="#">X</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-wrapper" id="list2" draggable="true">
            <div class="list-inner">
                <div class="list-header">
                리스트2
                </div>
                <div class="list-body">
                    <ul class="list-cards">
                        <li class="card">
                            <span id="card001" class="card-inner">카드 타이틀2-1</span>
                        </li>
                        <li class="card">
                            <span id="card002" class="card-inner">카드 타이틀2-2</span>
                        </li>
                        <li class="card">
                            <span id="card003" class="card-inner">카드 타이틀2-3</span>
                        </li>
                        <li class="card">
                            <span id="card004" class="card-inner">카드 타이틀2-4</span>
                        </li>
                    </ul>
                    <div class="add-card">
                        <form action="">
                            <a class="open-add-card" href="#">
                                <span>+ Add another card</span>
                            </a>
                            <input class="card-name-input" type="text" name="name" placeholder="Enter card title" autocomplete="off" maxlength="512">
                            <div class="card-add-controls">
                                <input class="card-add-button" type="submit" value="Add card">
                                <a class="card-cancel-button" href="#">X</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-list-con">
            <div class="add-list">
                <form action="">
                    <a class="open-add-list" href="#">
                        <span>+ Add another list</span>
                    </a>
                    <input class="list-name-input" type="text" name="name" placeholder="Enter list title" autocomplete="off" maxlength="512">
                    <div class="list-add-controls">
                        <input class="list-add-button" type="submit" value="Add list">
                        <a class="list-cancel-button" href="#">X</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>