<div class="container">
    <header>
        <h1>Trello</h1>
    </header>
    <div class="content">
        
        <div class="add-list-con">
            <div class="add-list">
                <form action="">
                    <a class="open-add-list" href="#">
                        <span>+ Add another list</span>
                    </a>
                    <input class="list-name-input" type="text" name="name" placeholder="Enter list title" autocomplete="off" maxlength="512">
                    <div class="list-add-controls">
                        <input class="list-add-button" type="submit" value="Add list">
                        <a class="list-cancel-button" href="#">X</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>